

  <body onload="initWebcam();">
    <div class="grid-frame">

      <div class="grid-block medium-12 large-12 horizontal">
        <div class="grid-block small-6 medium-6 vertical" id="left-bar">
        	<div class="grid-block vertical" id="face-area">
				<video onclick="snapshot(this);" width="600" height="300" id="video" controls autoplay></video>
				<canvas id = "myCanvas" width="400" height="300" style= "display: none";></canvas>
        	</div>
        	<div class="grid-block vertical" id="emotion-block">
        		<h2 style="color:white !important; font-family: 'PT Sans Narrow',sans-serif;">Emotions</h2>
				<dl style="width: 500px;color:white; font-family: 'PT Sans Narrow', sans-serif;" id="scores">
				<!-- Will populate list with response content -->
                </dl>
        	</div>
        </div>

        <div class="grid-block small-6 medium-6" id="chat-window">
          <div class="grid-block  vertical">
            <div id="message-display" class="grid-content"></div>
            <div class="message-input grid-content collapse shrink">
              <span class="inline-label">
                <input type="text" id="send-message-text" placeholder="Message">
                <button id="send-message-button" class="button">Send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

<!-- ui-view  -->
